/**

    Nonrel blog main CSS file.

*/

#main {
    margin: 70px auto 0 auto;
    width: 75%;
}

.right-italic {
    text-align: right;
    font-style: italic;
}

#comment-section {
    margin: 2em auto 0 auto;
    width: 75%;
}

#login {
    margin: 0 auto 0 auto;
    width: 50%;
}

.comment {
    padding: 0.5em;
    font-size: 0.8em;
}

.even {
    background-color: #EEEEEE;
}

#post-preview {
    width: 85%;
    margin: 0 auto 0 auto;
}