/**

	Nonrel blog main CSS file.

*/

#main {
	margin: 70px auto 0 auto;
	width: 75%;
}

.right-italic {
	text-align: right;
	font-style: italic;
}

#comment-section {
	margin: 0 auto 0 auto;
	width: 75%;
}

#login {
	margin: 0 auto 0 auto;
	width: 50%;
}

.comment {
	padding: 1em;
}

.even {
	background-color: #EEEEEE;
}