/**

    Nonrel blog main CSS file.

*/

#main {
    margin: 70px auto 0 auto;
    width: 75%;
    max-width: 800px;
}

.right-italic {
    text-align: right;
    font-style: italic;
}

#comment-section {
    margin: 5em auto 0 auto;
    width: 75%;
}

#login {
    margin: 0 auto 0 auto;
    width: 50%;
}

.date {
    font-style: italic;
    font-size: 0.9em;
    margin: 0 0 2.5em 3em;
}

.comment {
    padding: 0.5em;
    font-size: 0.8em;
}

.even {
    background-color: #EEEEEE;
}

#post-preview {
    width: 85%;
    margin: 0 auto 0 auto;
}

.tags {
    float: right;
    margin-right: 3em;
}

#site-activity {
    float: right;
    margin: 0 1em 1em 1em;
    max-width: 175px;
}

.activity {
    margin: 0 auto 1em 0;
    font-size: 0.9em;
}

.navbar-form {
    width: 50%;
}