<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="user_id" content="{{user.id}}">
        <title>{% block title %}{% endblock %} NonRel Blog</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/nonrel-blog.css" />
    </head>
    <body>
        <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#">NonRel Blog</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  {% if not user.is_authenticated %}
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Register</a></li>
                  {% else %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/create_post" id="create-new-post">Create new post</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  {% endif %}
              </ul>
            <form class="navbar-form navbar-right" action="/search/" method="get">
            <div class="input-group">
                <input type="text" placeholder="Search..." name="q" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="$('.navbar-form').submit();">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
            </form>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        </header>
        <div id="site-activity"></div>
        <div id="main" class="starter-template">
        {% block content %}{% endblock %}
        </div>
        <!-- end main div -->
        <script id="postListTemplate" type="text/template">
            <h2><a href="#post/<%- id %>"><%- title %></a></h2>
            <% if (tags != null && tags.length > 0) { %>
                <div class="tags">
                <% _.each(tags, function(tag) { %>
                <a href="#tag/<%- tag %>"><button type="button" class="btn btn-default btn-xs"><%= tag %></button></a>
                <% }); %>
                </div>
            <% } %></p>
            <p>by <strong><a href="#user/<%= user_name %>"><%= user_name %></a></strong> on <small><strong><%= created_on_readable %></strong></small>
            <p><% print(text.substring(0,250)); %>...</p>
            <p class="right-italic"><% if(comments != null) {print(comments.length);}else{print(0);} %> comments</p>
        </script>
        <script id="postTemplate" type="text/template">
            <h1><%= title %></h1>
            <% try {
                 if (skipEditButtons) {}
               } catch(e) {
                    if ( user_id == $('meta[name="user_id"]').attr('content')) { %>
                        <div class="pull-right">
                            <a href="#post/<%= id %>/edit" class="btn btn-primary btn-xs">Edit post</a>
                            <a id="delete-post" class="btn btn-primary btn-xs">Delete post</a>
                        </div>
               <%
                  }
               }
               if (tags != null && tags.length > 0) { %>
                <div class="tags">
                <% _.each(tags, function(tag) { %>
                <a href="#tag/<%= tag %>"><button type="button" class="btn btn-default btn-xs"><%= tag %></button></a>
                <% }); %>
                </div>
            <% } %>
            <p class="date">Posted by <a href="#user/<%= user_name %>"><%= user_name %></a> on <%= created_on_readable %></p>
            <p><%= text %></p>
            <% try { if(skipCommentsForm) { %> <hr/> <% } } catch(e) { %>
            <div id="comment-section">
            <% if (comments != null && comments.length > 0) { %>
                <% _.each(comments, function(item, index) { %>
                <div class="comment<% if (index % 2 == 0) { %> even <% } else { %> odd <% } %>">
                    <p><%- item.text %></p>
                    <p class="text-right"><small>by <%- item.author.name %> - <%- item.author.email %><br />on <%- item.created_on_readable %></small></p>
                </div>
                <% }); %>
            <% }else{ %>
                <h3>No comments</h3>
            <% } %>
                <hr/>
                <p>Add a comment:</p>
                <div class="fieldWrapper form-group">
                    <label for="id_name">Name:</label>
                    <input id="id_name" class="form-control input-sm" type="text" placeholder="Your Name" maxlength="255" name="name"></input>
                </div>
                <div class="fieldWrapper form-group">
                    <label for="id_email">Email:</label>
                    <input id="id_email" class="form-control input-sm" type="text" placeholder="you@example.org" maxlength="75" name="email"></input>
                </div>
                <div class="fieldWrapper form-group">
                    <label for="id_text">Comment:</label>
                    <textarea id="id_text" class="form-control input-sm" cols="80" placeholder="Your comment ..." name="text" rows="10"></textarea>
                </div>
                <p><input type="submit" value="Submit comment" class="btn btn-primary" id="comment-submit" /></p>
            <% } %>
            </div>
        </script>
        <script id="loadMoreTemplate" type="text/template">
            <p class="text-center"><a id="load-more-posts" class="btn btn-primary">Load more posts...</a></p>
        </script>
        <script id="formErrorTemplate" type="text/template">
            <div class="alert alert-danger alert-dismissable">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <ul class="list-group">
                    <div class="error"><%- error_msg %></div>
                </ul>
            </div>
        </script>
        <script id="confirmDeletionTemplate" type="text/template">
            <div class="alert alert-danger fade in">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button"> × </button>
                <h3>Are you sure you want to delete this post?
                <button class="btn btn-danger" type="button" id="delete-yes">Yes</button>
                <button class="btn" type="button" id="delete-no">No</button>
                </h3>
            </div>
        </script>
        <script id="postFormTemplate" type="text/template">
            <h1><%= mode %> post:</h1>
            <div id="post-preview"></div>
            <div class="fieldWrapper form-group">
                <label for="post-title">Title</label>
                <input id="post-title" class="form-control input-sm" type="text" name="title" maxlength="255" placeholder="Title for your post" value="<%= title %>"></input>
            </div>
            <div class="fieldWrapper form-group">
                <label for="post-text">Text</label>
                <textarea id="post-text" class="form-control input-sm" placeholder="Your post here..." cols="80" name="text" rows="20"><%= text %></textarea>
            </div>
            <div class="fieldWrapper form-group">
                <label for="post-tags">Tags</label>
                <input id="post-tags" class="form-control input-sm" type="text" name="tags" maxlength="255" placeholder="tag1 tag2 tag3" value="<% print(tags.join(' ')); %>"></input>
                <span class="help-block"></span>
            </div>
            <p>
                <input class="btn btn-primary" value="Preview" id="preview-post"></input>
                <input class="btn btn-primary" type="submit" value="<%= mode %> post" id="submit-post"></input>
            </p>
            </div>
        </script>
        <script id="activityTemplate" type="text/template">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <% if (task != 'Deleted') { %>
            <%= task %> post <a href="#post/<%= post_id %>" class="alert-link"><%= post_title %></a>
            <% } else { %>
            <%= task %> post <%= post_title %>
            <% } %>
        </script>
        <script type="text/javascript" src="/static/js/lib/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
        <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/routers/router.js"></script>
        <script type="text/javascript" src="/static/js/models/post.js"></script>
        <script type="text/javascript" src="/static/js/collections/blog.js"></script>
        <script type="text/javascript" src="/static/js/models/siteactivity.js"></script>
        <script type="text/javascript" src="/static/js/collections/siteactivities.js"></script>
        <script type="text/javascript" src="/static/js/views/postList.js"></script>
        <script type="text/javascript" src="/static/js/views/post.js"></script>
        <script type="text/javascript" src="/static/js/views/createPost.js"></script>
        <script type="text/javascript" src="/static/js/views/blog.js"></script>
        <script type="text/javascript" src="/static/js/views/siteActivity.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
        {% block backbone_init %}{% endblock %}
    </body>
</html>