{% extends "backbone_base.html" %}
{% block title %}Edit post{% endblock %}
{% block content %}
{% include "messages.html" %}
{% if not error %}
	<h3>Edit post:</h3>
	<div id="post-preview"></div>
	<form action="" method="post">{% csrf_token %}
	{% include "generic_form.html" %}
	<p><input type="submit" value="Edit post" class="btn btn-primary" id="submit" /></p>
	<script src="/static/js/post_preview.js" type="text/javascript"></script>
{% else %}
	<div class="alert alert-danger">{{ result }}</div>
{% endif %}
{% endblock %}