{% extends "backbone_base.html" %}
{% block title %}Latest posts{% endblock %}
{% block content %}
<noscript>
<h1>Welcome{% if user.is_authenticated %} {{ user.username }}{% endif %}! Here are the latest posts:</h1>
{% if posts %}
<div id="post-list">
    {% include "post_list.html" %}
</div>
{% else %}
    <h2>Sorry, no posts in database.</h2>
{% endif %}
</noscript>
{% endblock %}
{% block backbone_init %}
{% autoescape off %}
    <script type="text/javascript">
        $(function() {
            var _sync = Backbone.sync;
            Backbone.sync = function(method, model, options){
                options.beforeSend = function(xhr){
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                };
                return _sync(method, model, options);
            };

            // in order to preserve no JS functionality we change the the create new post link on load to a hash.
            if ($('#create-new-post')[0] != undefined) {
                $('#create-new-post')[0].pathname = ''
                $('#create-new-post')[0].hash = 'create_post'
            }
            // start up the components
            app.blogCollection = new app.BlogCollection();
            app.blogRouter = new Workspace();
            app.blogView = new app.BlogView({collection: app.blogCollection});
            Backbone.history.start();
            // bootstrap initial models from Django if loading the home page.
            if (window.app && window.location.hash === '') {
                app.blogCollection.next = '{{ next }}';
                app.blogCollection.count = {{ total_posts }};
                app.blogCollection.reset({{ models_json }});
            }else{
                // retrieve the route and navigate otherwise
                var route = window.location.hash.substring(1);
                app.blogRouter.navigate(route, {trigger: true, replace: true});
            }
        });
    </script>
{% endautoescape %}
{% endblock %}