{% for post in posts %}
    <h2><a href="/post/{{ post.id }}/{{ post.permalink }}">{{ post.title }}</a></h2>
    {% include "tag_buttons.html" %}
    <p><small>posted on <strong>{{ post.updated_on }}</strong></small>
    </p>
    <p>{% autoescape off %}
    {{ post.text|linebreaks|truncatewords_html:20 }}...</p>
    {% endautoescape %}
    <p><a href="/post/{{ post.id }}/{{ post.permalink }}">Read full post</a></p>
    {% if post.comments %}
        <p class="right-italic">{{ post.comments|length }} comments</p>
    {% else %}
        <p class="right-italic">No comments</p>
    {% endif %}
{% endfor %}